.education {
    padding: 60px 50px 0px 50px;
   font-family: sans-serif;
    text-decoration: none;
    word-spacing: 10px;
}

.education h1{
    margin-bottom: 30px;
}

@media only screen and (max-width: 500px) {

    .education {
    padding: 60px 25px 0px 25px;
    word-spacing: 5px;
    }
}