.skills {
    display: flex;
    flex-direction:row-reverse;
    padding-top: 70px;
}

.SRight {
    flex: 70%;
    padding: 0px 80px;
    margin-left: 70px;
    font-size: 20px; 
}

.SRight h1{
    padding-top: 60px;
}

.SRight p {
    color: gray;
    word-spacing: 7px;

}

.SLeft {
    flex: 30%;
    margin-top: 30px;
    margin-left: 50px;
}

.inline {
    display: inline-block;
    color: gray;
    margin-right: 15px;
    margin-bottom: 15px;
}

.dev_icon {
    text-align: center;

}

.skillContainer {
    margin-top: 20px;

}

.inline p {
    color: #868e96;
    font-size: 12px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


.inline a:hover {
    color: brown;
  }


  .inline a {
    text-decoration: none;
  }

  .skillPara p {
    font-family: sans-serif;
    font-size: 17px;
    text-decoration: none;
    line-height: 1.5;
    margin-bottom: 5px;

  }

  @media only screen and (max-width: 1000px) {
     .skills{
        display:inline;

    }
        .SLeft img {
            margin: auto;
            width: 70%;
            padding: 20px;
           }

    .SRight{
        margin: 80px 20px 10px 20px;
        padding: 20px 20px 0px 20px;
    }

    .SLeft {
        flex: 30%;
        margin: 20px 20px 20px 40px;
    }

}

@media only screen and (max-width: 500px) {
    .SRight{
        padding: 60px 20px 0px 20px;
        margin: 40px 20px 0px 20px;
        font-size: 15px;

    }
    .inline{
        margin: 10px;
    }
    .dev_icon{
        padding: 0px;
    }
    .SLeft img{
        width: 320px;
    }
    .skillPara p {
        font-size: 12px;
      }
      .SLeft img {
        margin: auto;
        width: 70%;
        margin: 0;
       }
       .inline p {
        font-size: 12px;
       }
    }